<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fxtrader.com.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"></activity>

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".login.LoginNewActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".login.FindPwdActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".homepage.BuildPositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BuildDialog"></activity>
        <activity
            android:name=".homepage.HFBuildPositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BuildDialog"></activity>
        <activity
            android:name=".homepage.ProfitAndLossActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BuildDialog"></activity>


        <activity
            android:name=".homepage.OrderDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".homepage.PositionListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".homepage.MasterListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".homepage.WinStreamListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".homepage.ProfitListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".homepage.RedEnvelopListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".mine.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.BindPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.ChangePwdActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.ExperienceVoucherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.ProfitAndLossDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.AnnouncementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.AnnouncementDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.TradeHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.TradeRulesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.WithdrawActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.RedEnvelopeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.RechargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.WebHtmlActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".mine.MyFollowActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".mine.RuleIntroActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".mine.PositionsFollowedActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.PriceService" />

        <meta-data
            android:name="fxtrader.com.app.GlideModelConfig"
            android:value="GlideModule" />

    </application>

</manifest>